<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
</head>
<body ng-app="toDo" ng-controller="toDoController">
<h1>todo poc</h1>

<form ng-submit="todoAdd()">
    <input type="text" ng-model="todoInput" placeholder="Add new to do">
    <button type="submit" ng-click="saveData()">Submit</button>
</form>
<br>
<div ng-repeat="todo in todoList">
    <input type="checkbox" ng-model="todo.done">
    <span ng-bind="todo.text"></span>
</div>

<p>
    <button ng-click="remove()">Done</button>
</p>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
<script src="{% static 'js/todo.js' %}"></script>
</body>
</html>